.registration-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.registration-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    padding-left: 30px; /* Adjusted padding to avoid overlapping with the icon */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group .icon {
    position: absolute;
    top: 35px;
    left: 10px;
    color: #aaa;
}

.form-group input:focus {
    border-color: #007bff;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
